.box {
  background-image: linear-gradient(
      rgba(50, 45, 0, 0.404),
      rgba(228, 228, 228, 0)
    ),
    url(dea4.jpg);
  background-size: cover;
  background-position: center;
  margin: 50px;
  width: auto;
  height: 700px;
  box-shadow: -1px 0 10px #000000;
  align-items: center;
  justify-items: center;
  border-radius: 15px;
}
p {
  color: #fff8f8;
  border-color: green;
  width: auto;
  position: absolute;
  text-align: center;
  text-justify: form;
  margin: 50px auto;
  font-weight: 400;
  line-height: 25px;
}
.reports-containers {
  width: 60%;
}

img {
  width: 150px;
  height: 150px;
  //margin-top: -40px;
  border-radius: 50%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 60px;
}
h1 {
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
}
p {
  text-align: center;
  margin-bottom: 100px;
  color: #333;
}

button {
  width: 100%;

  padding: 10px;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

form {
  top: 50%;
  transform: translateY(25%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type="file"] {
  display: none;
}

.btn {
  padding: 10px 10px;
  border: 0;
  outline-color: purple;
  // background: transparent;
  font-size: 22px;
  font-weight: 500;
  border: 2px solid purple;
  display: inline-block;
  border-radius: 30px;
  background: transparent;
  cursor: pointer;
}

.custom-file-upload {
  width: 250px;
  color: purple;
  margin: 8px;
  font-weight: 700;
  border-radius: 30px;
  border: 5px solid purple;
  display: inline-block;
  padding: 6px 12px;
  text-align: center;
  cursor: pointer;
}

.buton1:focus {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #5a01a7;
}
