<div class="container">
  <mat-list role="list">
    <div *ngIf="raports != []">
      <mat-list-item *ngFor="let item of raports" class="item">
        <div>
          {{ item.description }}
        </div>
        <div>
          {{ item.category }}
        </div>
        <div>
          {{ item.location }}
        </div>
        <div>
          <img [src]="item.imageURL" alt="" />
        </div>
        <button (click)="removeRaport(item.id)">Delete</button>
      </mat-list-item>
    </div>
  </mat-list>
</mat-card>
