:host {
  margin-top: 30%;
}
.item {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  justify-content: space-between;
}

mat-list-item {
  min-height: 20rem;
}
img {
  width: 240px;
  height: auto;
}
